.container {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    text-align: center;

    &-header {
        padding: 50px;

        &-title {
            font-size: 48px;
            font-weight: 600;
        }

        &-content {
            font-size: 18px;
            color: #999;
        }
    }


    &-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    @media screen and (max-width: 768px) {
        &-body {
            grid-template-columns: 1fr;
        }
    }
}