.comments-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-form__text, .comments-form__textarea {
    margin-bottom: 10px;
}

.comments-form__submit {
    background-color: #ed9220;
    color: white;
}

.comments-form__submit:hover {
    background-color: #e0a03e;
    color: white;
}