.footer {
    display: flex;
    flex-direction: column;
    background-color: #F4F3E9;
    width: 100%;

    &-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    @import 'footer/form';
    @import 'footer/contact';
}