.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        min-height: 500px;

        &-header {
            p {
                font-family: 'Forum', serif;
                font-size: 62px;
                text-transform: uppercase;

                &:first-child {
                    color: rgba(94, 91, 64, 1);
                }

                &:last-child {
                    color: #333333;
                    padding-left: 14px;
                }
            }
        }
    }

    &-link {
        text-decoration: none;
    }

    @import 'content/about';
    @import 'content/cosmetic';
    @import 'content/flower';
    @import 'content/hair';
    @import 'content/skin';
}