.cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    height: 100%;
    width: 100%;

    &-empty {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}